body {
  margin: 0;
  background-color: #222;
}



.cardP{
    width: 600px;
    margin: auto;
    margin-top: 2em;
    box-shadow: 5px 5px 2.5px #888888;
}
.cardP-block{
    
    background-color: #009871 !important;
    word-break: break-all;
    padding: 5%;
}
.cardP-title{
    text-align: left;
}
.cardP-text{

}